.features-list {
    @media screen and (min-width: 768px) {
        display: flex;
        flex-wrap: wrap;
        margin: -15px;
        }
    @media screen and (min-width: 1200px) {
        margin: -15px;
        margin-bottom: -94px;
        }
}
.features-list__item {
    
    @media screen and (min-width: 768px) {
        width: calc((100% - 2 * 30px) / 2);
        margin: 15px;
    }
    @media screen and (min-width: 1200px) {
        width: calc((100% - 8 * 15px) / 4);
        margin: 15px;
    }
    &:not(:last-child){
        @media screen and (max-width: 767px) {
        margin-bottom: 30px;
        }
    }
    
}
.features-list__box {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 120px;
    margin-bottom: 30px;
    background-color: $gray--color;
    border-radius: 4px;
}
.features-list__icon {
    margin-top: 25px;
    width: 70px;
    height: 70px;
}
.features-list__title {
    margin-top: 0;
    margin-bottom: 0;
    padding-bottom: 10px;
    @include font(700, 14px, 1.14, 0.03em);
    text-transform: uppercase;
    color: $main-text-color;
}
.features-list__description {
    margin-top: 0;
    margin-bottom: 0;
    width: 100%;

    @include font(400, 14px, 1.71, 0.03em);
    color: $secondary-text-color;
    
    @media screen and (min-width: 1200px) {
        height: 75px;
        }
    @media screen and (max-width: 767px) {
        height: 50px;
    }
}
.features-list__item:nth-child(-n + 2) .features-list__description {
        @media screen and (min-width: 768px) {
            height: 75px;
        }
    }
.features-list__item:nth-child(n + 3) .features-list__description {
    @media screen and (min-width: 768px) {
        height: 50px;
    }
}
